html {
  height: 100%;
}

:root {

  --fs-esm: 12px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 24px;

  --color-shark: #282c34;
  --color-aliceblue: #f0f8ff;

}

body[data-theme="dark"] {
  --colors-text: var(--color-aliceblue);
  --colors-bg: var(--color-shark);
  --colors-btn: var(--color-aliceblue);
}

body[data-theme="light"] {
  --colors-text: var(--color-shark);
  --colors-bg: var(--color-aliceblue);
  --colors-btn: var(--color-shark);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: var(--colors-text);
  background-color: var(--colors-bg);
  height: 100%;
  box-sizing: border-box;
}

form {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.test {
  position: absolute;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;

  border: none;
  background: transparent;
  background-color: #fff;
  transition: transform 0.4s ease-in;
  text-align: left;
  font-size: 26px;
  opacity: 0.8;


  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 15px;

}